name: Atlan dbt action

on:
  pull_request:
    types: [opened, edited, synchronize, reopened, closed]

jobs:
  get-downstream-impact:
    permissions: write-all
    name: Get Downstream Assets
    runs-on: ubuntu-latest
    steps:
      - name: Dump GitHub context
        env:
          GITHUB_CONTEXT: ${{ toJson(github) }}
        run: |
          echo "$GITHUB_CONTEXT"
      - name: Run Action
        uses: atlanhq/dbt-action@v1-alpha
        with:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
          ATLAN_INSTANCE_URL: ${{secrets.ATLAN_INSTANCE_URL}}
          ATLAN_API_TOKEN: ${{secrets.ATLAN_API_TOKEN}}
